<mat-toolbar color="primary">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span class="spacer"></span>
  <h2>{{ assessment()?.name }}</h2>
  <span class="spacer"></span>

  <button mat-button (click)="preview()">
    <mat-icon>visibility</mat-icon>
    Preview
  </button>
</mat-toolbar>

<mat-sidenav-container class="builder-container">
  <mat-sidenav #sidenav mode="side" opened class="question-list-sidenav">
    <app-question-list
      [assessmentId]="assessment()?.assessment_id || ''"
      (questionSelected)="onQuestionSelected($event)"
      (questionDeleted)="onQuestionDeleted()"
    ></app-question-list>
  </mat-sidenav>

  <mat-sidenav-content class="editor-content">
    @if (assessment() && selectedQuestionId) {
      <app-question-editor
        [assessmentId]="assessment()!.assessment_id"
        [questionId]="selectedQuestionId"
        (questionSaved)="onQuestionSaved()"
      ></app-question-editor>
    } @else if (assessment()) {
      <div class="empty-editor">
        <mat-icon>note_add</mat-icon>
        <p>Select a question to edit or create a new one</p>
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
